/* This file will house much of the base css for this project */
body {
  background-color: #EFEFEF;
}

h1, h2, h3, p {
  color: #000000;
}

h1 {
  font-size: 45px;
  font-weight: bold;
}

h2 {
  font-size: 38px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 26px;
}

img {
  max-width: 250px;
  max-height: 250px;
}

.post {
  margin-bottom: 30px;
  background-color: #212529;
  border-radius: 10px;
  padding: 20px;
}

.username {
  color: #ccc;
  margin-bottom: 10px;
}

.caption {
  color: white;
  margin-bottom: 15px;
  line-height: 120%;
}

.datetime {
  color: #999;
  font-size: 0.8em;
}

.reactions {
  color: #aaa;
}

.reactions > div {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
  display: inline-block;
}