/* This file will house much of the base css for this project */
body {
  background-color: #EFEFEF;
}

h1, h2, h3, p {
  color: #000000;
}

h1 {
  font-size: 45px;
  font-weight: bold;
}

h2 {
  font-size: 38px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 26px;
}

img {
  max-width: 250px;
  max-height: 250px;
}



.username {
  color: #00AAFF;
}